.border-1 {
    border-left: 6px solid red;
    background: #000;
    padding-left: 10px;
    color: #fff;
}

.border-2 {
    border-left: 6px solid red;
    background: #000;
    padding-left: 10px;
    color: #fff;
}

.border-3 {
    border-left: 6px solid red;
    background: #000;
    padding-left: 10px;
    color: #fff;
}
